<a href="https://colab.research.google.com/github/Sharath-11507563/sharath_INFO5731_-Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
str="First inclass exercise"
print(len(str))

22

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
str="google.com"
freq = { i : str.count(i) for i in set(str)}
print("\n the frequency of each letter in the string is as below \n", freq)

 the frequency of each letter in the string is as below
 {'g': 2, 'c': 1, 'e': 1, 'm': 1, '.': 1, 'o': 3, 'l': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
list = [ 1,2,3,4,5 ]
add= sum(list)
print ("the sum of entered list is:" ,add)

the sum of entered list is: 15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
str="restart"
modified_str = ''
for char in range(1, len(str)):
    if(str[char] == 'r'):
        modified_str += '$'
    else:
        modified_str += str[char]
print("Modified string : ")
print("r",modified_str)

Modified string :
r esta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
a= float(input("Enter value of a:"))
b= float(input("Enter value of b:"))
S= 3.14* (1+a/b)**3
print (S)

Enter value of a:1
Enter value of b:1
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
# write your answer here
numbers=(5,6,7,8,9)
print ( 5 in numbers)

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
prime={1,2,3,5,7,11,13,17}
Max= max(prime)
Min= min(prime)
print("Maximum and Minimum is:", Max, Min)

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [ ]:
# write your answer here
def combinations_list(student_list):
    if len(student_list) < 4 and len(student_list)> 6:
        return [[]]
    result = []=
    for el in combinations_list(student_list[1:]):
        result += [el, el+[student_list[0]]]
    return result
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
print("Original list:")
print(student_list)
print("\n All possible combinations of the said list’s elements:")
print(combinations_list(student_list))

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [16]:
# write your answer here
arr=[1,2,3,4,5,6,5,4,3,2,7];
print("Duplicate elements in given array: ");  
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] == arr[j]):    
            print(arr[j]);

Duplicate elements in given array:
2
3
4
5

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [12]:
# write your answer here
from datetime import date, timedelta
def all_sundays(year):
       dt = date(year, 1, 1)      
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)          
for s in all_sundays(2020):
   print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27