<a href="https://colab.research.google.com/github/Sharath-11507563/sharath_INFO5731_-Fall2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
#importing random module
import random
#taking a sample of 12 in the range of 0-100
x = random.sample(range(1,101), 12)
print ('Sample chosen is -',x)
#sorting list in ascending order
x.sort()
print ('Ascending order - ', x)
#sorting list in descending order
x.sort(reverse=True)
print ('Descending order -',x)
#calculating average of list
avg= sum(x)/len(x)
print ('Average of the sample -',avg)

Sample chosen is - [23, 92, 32, 79, 40, 58, 50, 20, 80, 68, 90, 66]
Ascending order -  [20, 23, 32, 40, 50, 58, 66, 68, 79, 80, 90, 92]
Descending order - [92, 90, 80, 79, 68, 66, 58, 50, 40, 32, 23, 20]
Average of the sample - 58.166666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
print('Enter first sentence')
s1=input()
print("Enter second sentence")
s2=input()

Enter first sentence
This\is/the,first.sentence
Enter second sentence
Second[sentence-is,this

In [ ]:
#importing re module for string matching
import re
#breaking down the string into individual elements using function
def into_sentence(input_string):
#looking for multiple word characters or word characters that are not followed by space i.e., last character of the sentence
  reg = re.compile(r'\w+|[^\w\s]')
  return reg.findall(input_string)
#making the elements into a list
list_s1 = into_sentence(s1)
list_s2 = into_sentence(s2)
print("The sentences in list format are:")
print(list_s1)
print(list_s2)

The sentences in list format are:
['This', '\\', 'is', '/', 'the', ',', 'first', '.', 'sentence']
['Second', '[', 'sentence', '-', 'is', ',', 'this']

In [ ]:
#creating empty list
common_list = []
#finding commong elements in the list
for ele in list_s1:
  if ele in list_s2:
#appending all the common words to the empty list
    common_list.append(ele)
print(common_list)

['is', ',', 'sentence']

In [ ]:
#importing string module
import string
#defining function for identifying non-punctuation word characters
def remove_punctuation(input_string):
  return ''.join([i for i in input_string if i not in string.punctuation])
#printing output
print("First sentence without puncatuation is - {0}".format(remove_punctuation(s1)))
print("Second sentence without puncatuation is- {0}".format(remove_punctuation(s2)))

First sentence without puncatuation is - Thisisthefirstsentence
Second sentence without puncatuation is- Secondsentenceisthis

In [ ]:
#defining vowel count function
def vowel_count(input_string):
#coverting string into single case
    input_string = input_string.lower()
#counting number of vowels from sentence
    count = {}.fromkeys('aeiou', 0) 
    for ele in input_string: 
        if ele in count: 
            count[ele] += 1
    final_output = {x:y for x,y in count.items() if y!=0}
    return final_output
#printing output
print("List and count of vowels in first sentence is {0}".format(vowel_count(s1)))
print("List and count of vowels in the seocnd sentence is {0}".format(vowel_count(s2)))

List and count of vowels in first sentence is {'e': 4, 'i': 3}
List and count of vowels in the seocnd sentence is {'e': 4, 'i': 2, 'o': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
#printing headers
print("r"," ", "V")
#starting for loop
for r in range(1,11):
    V = 1.33*3.14*r**3
#printing output through looping
    print (r," ", V)

r   V
1   4.176200000000001
2   33.409600000000005
3   112.75740000000002
4   267.27680000000004
5   522.0250000000001
6   902.0592000000001
7   1432.4366000000002
8   2138.2144000000003
9   3044.4498000000003
10   4176.200000000001

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [8]:
import pandas as pd
import statistics
url='https://raw.githubusercontent.com/Sharath-11507563/sharath_INFO5731_-Fall2021/main/Assignment1_denton_housing.csv'
household = pd.read_csv(url)
household.head(10)

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215
5  2013  Occupied Housing Units  43673
6  2012     Total Housing Units  45121
7  2012    Vacant Housing Units   3013
8  2012  Occupied Housing Units  42108
9  2011     Total Housing Units  44917

In [4]:
# number of ocupied households
occuped_households = household[household['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year
diff_household = [list(occuped_households['value'].values)[loop1] - list(occuped_households['value'].values)[loop1+1]\
              for loop1 in range(len(occuped_households)-1)]
diff_household = sorted(diff_household)    # sorting in ascending order
diff_household

[-5091, -2622, -1565, -1404, 303, 795]

In [5]:
unique_years = sorted(list(household['year'].unique()))   # legging list of unique year number
occuped_households = household[household['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])# number of ocupied households


vacant_households = household[household['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])# number of vacant households

new_household_df = pd.DataFrame()
new_household_df['year'] = unique_years
new_household_df['Vacant household'] = vacant_households['value'].values
new_household_df['Occupied household'] = occuped_households['value'].values
new_household_df['Percent of Vacant household'] = [(new_household_df['Vacant household'][loop1] * 100) /\
                                           (new_household_df['Vacant household'][loop1] + new_household_df['Occupied household'][loop1])\
                                           for loop1 in range(len(new_household_df))]
new_household_df['Percent of Occupied household'] = [(new_household_df['Occupied household'][loop1] * 100) /\
                                           (new_household_df['Vacant household'][loop1] + new_household_df['Occupied household'][loop1])\
                                           for loop1 in range(len(new_household_df))]
new_household_df

   year  ...  Percent of Occupied household
0  2008  ...                      89.117347
1  2009  ...                      90.928884
2  2010  ...                      91.857444
3  2011  ...                      90.620478
4  2012  ...                      93.322400
5  2013  ...                      91.198212
6  2014  ...                      94.269889

[7 rows x 5 columns]

In [6]:
# the highest number of vacant housing units
max_vacant_households = max(household[household['title_field'] == 'Vacant Housing Units'].value)
vacant_households = vacant_households[vacant_households['value'] == max_vacant_households]
vacant_households


# the highest number of Occupied housing units
max_occuped_households = max(household[household['title_field'] == 'Occupied Housing Units'].value)
occuped_households = occuped_households[occuped_households['value'] == max_occuped_households]
occuped_households

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [7]:
# number of ocupied households
t_households = household[household['title_field'] == 'Total Housing Units'].sort_values(by=['year'])
print("Harmonic Mean is % s " % (statistics.harmonic_mean(t_households['value'])))

Harmonic Mean is 44398.28543969185